<div class="tutorials-component container-fluid text-center">
  <div class="row">
    <h2 class="fw-bold">Gestión de contenido de la materia {{ titleAsignature }}</h2>

    <!-- <form>
      <div class="d-flex flex-column align-items-center">
        <input class="login-input" type="username" placeholder="Usuario" formControlName="username" />
        <input class="login-input" type="password" placeholder="Contraseña" formControlName="password" />
      </div>
    </form> -->

    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Título</th>
          <th>Actividad</th>
          <th>Gestión</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let content of asignatureArray">
            <td>{{content.pk}}</td>
            <td>{{content.titulo}}</td>
            <td>{{content.tipo_contenido}}</td>
            <td>
              <button class="card-btn btn-eye fw-bold text-white"><fa-icon
                [icon]="eye" (click)="viewContent(content.pk)"></fa-icon></button>
              <button class="card-btn btn-edit fw-bold text-white"><fa-icon
              [icon]="pen"></fa-icon></button>
              <button class="card-btn btn-delete fw-bold text-white"><fa-icon
                [icon]="trash"></fa-icon></button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
