<a routerLink="{{routerLogo}}" class="text-white text-decoration-none">
  <h1 class="logo"><fa-icon class="logo-icon" [icon]="faChalkboard"></fa-icon>{{name}}</h1>
</a>

<section class="perfil" *ngIf="messageLogin">
  <div class="d-flex justify-content-center align-items-center" routerLink="{{routerLogo}}">
    <img class="perfil-user" src="{{imgProfile}}" alt="{{altname}}">
    <span class="fw-bold fw-light">{{nameUser}}</span>
  </div>
  <div class="perfil-nav">
    <li class="nav-item"><a routerLink="{{routerL}}" class="nav-link text-white text-decoration-none w-100">Cuenta</a></li>
    <li class="nav-item"><a routerLink="/login" (click)="logOut()" class="nav-link text-white text-decoration-none w-100">Cerrar Sesión</a></li>
  </div>
</section>
