/* Start Media Queries Screens 1024px */
.home-component{
  position: relative;
}

h2{
  text-align: center;
}

.asignature-card{
  margin: 20px;
  border-radius: 15px;
  background-color: #2132e7;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-card);
}

.card-btn{
  background-color: #125C13;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  transition: 0.5s;
}

.card-btn:hover{
  background-color: #1b941d;
}

.asignature-icon{
  font-size: 55px;
  height:inherit;
  margin: 0px;
  padding: 10px;
  width: 180px;
  border-radius: 15px 0px 0px 15px;
  /* border-radius: 15px; */
  background-color: #4c6e99;
}

/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 1023px */
@media screen and (max-width: 1023px) {
  .asignature-card{
    height: 140px;
  }

  .asignature-icon{
    font-size: 52px;
    width: 170px;
  }

}
/* End Media Queries Screens 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .asignature-card{
    height: 130px;
  }

  .asignature-icon{
    font-size: 49px;
    width: 160px
  }
}
/* End Media Queries Screens 767px */
