<div class="modal__container d-flex flex-column align-items-center justify-content-start" [ngClass]="modalSwitch">
  <button class="modal__container--btn" (click)="closeModal()">
    <fa-icon [icon]="faXmark"></fa-icon>
  </button>

  <section *ngIf="nameC == 'Tutorial'" class="modal__container--info">
    <h1 class="text-black fw-bold">{{modalData.titulo}}</h1>

    <section class="class-item d-flex flex-row justify-content-between">
      <a class="text-white text-decoration-none fw-bold" (click)="openContent()">
        <div class="item-info">
          <fa-icon class="info-icon" [icon]="faPlay"></fa-icon>
          <span>{{typeActivity.tipo_contenido}}</span>
        </div>
      </a>
    </section>

    <span class="view">{{typeActivity.contenido}}</span>
  </section>

  <section *ngIf="nameC == 'Crud'" class="modal__container--info">
    <h1 class="text-black fw-bold">{{modalTitle}}</h1>

    <form [formGroup]="contentForm" (ngSubmit)="onSubmit()">
      <div class="d-flex flex-column align-items-center" class="id_content">
        <label for="asignatura">Id:</label>
        <input class="content-input" type="text" placeholder="Titulo" formControlName="asignatura" />
      </div>
      <div class="d-flex flex-column align-items-center item">
        <label for="titulo">Titulo:</label>
        <input class="content-input" type="text" placeholder="Titulo" formControlName="titulo" />
      </div>
      <div class="d-flex flex-column align-items-center"> <label for="tipo_contenido">Tipo de Contenido:</label>

        <select class="content-select" formControlName="tipo_contenido">
          <option value="" disabled selected>Seleccione una opción</option>
          <option value="lectura">Lectura</option>
          <option value="enlace">Enlace</option>
        </select>
        <!-- <input class="content-input" type="text" placeholder="Tipo de Contenido" formControlName="tipo_contenido" /> -->
      </div>
      <div class="d-flex flex-column align-items-center">
        <label for="contenido">Contenido:</label>
        <textarea cols="30" rows="5" placeholder="Contenido" formControlName="contenido"></textarea>
        <!-- <input class="content-input" type="text" placeholder="Contenido" formControlName="contenido" /> -->
      </div>
      <div class="d-flex flex-column align-items-center" *ngIf="typeCrud == 'Insertar'">
        <button class="card-btn btn-reg fw-bold text-white" type="submit" [disabled]="!contentForm.valid">
          Insertar
        </button>
        <span class="message">{{messageData}}</span>
      </div>

      <div class="d-flex flex-column align-items-center" *ngIf="typeCrud == 'Actualizar'">
        <button class="card-btn btn-edit fw-bold text-white" type="submit" [disabled]="!contentForm.valid">
          Actualizar
        </button>
        <span class="message">{{messageData}}</span>
      </div>

      <div class="d-flex flex-column align-items-center" *ngIf="typeCrud == 'Eliminar'">
        <button class="card-btn btn-delete fw-bold text-white" type="submit" [disabled]="!contentForm.valid">
          Eliminar
        </button>
        <span class="message">{{messageData}}</span>
      </div>

    </form>

  </section>

</div>
