/* Start Media Queries Screens 1024px */
.modal__container {
  position: absolute;
  top: -750px;

  width: 85vw;

  transition: all 0.7s;

  box-shadow: var(--shadow-card);
  border-radius: 12px;
  background-color: #e8f9fd;
}

.enabled {
  top: 7%;

  transition: all 0.7s;
}

.modal__container--btn {
  font-size: 3rem;
  font-weight: bold;

  position: relative;
  top: 5px;
  left: 47.4%;

  display: flex;

  width: 33px;
  height: 48px;
  margin-bottom: 12px;

  cursor: pointer;
  transition: 0.3s;

  color: #0096ff;
  border-style: none;
  background: none;

  justify-content: center;
  align-items: center;
}

.modal__container--btn:hover {
  color: #59ce8f;
}

.info__title {
  font-size: 34px;

  position: relative;

  margin-bottom: 12px;

  text-align: center;

  color: black;
}

.modal__container--info {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 70vw;
  height: auto;
  margin-bottom: 12px;

  align-items: center;
  justify-content: center;

}

.content-input{
  margin: 8px 0px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  padding: 6px;
  width: 35vw;
}

.content-input:focus{
  outline: 2px solid #526D82;
}

.crud-btn{
  background-color: #0D4C92;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  transition: 0.5s;
}

.crud-btn:hover{
  background-color: #1265c4;
}

.crud-btn:disabled {
  background-color: gray;
}

.id_content{
  display: none;
}

textarea {
  margin: 8px 0px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  padding: 8px;
  width: 35vw;
}

.class-item{
  box-shadow: var(--shadow-card);
  border-radius: 10px;
  margin: 12px 0px;
  background-color: #27374D;
  width: 20vw;
}

.class-item a{
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.item-info{
  padding: 12px 10px;
  width: 100%;
}

.info-icon{
  margin-right: 5px;
}

.view{
  width: 50vw;
  height: 30vh;
  border: 2px solid #11009E;
  border-radius: 12px;
}

/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 768px and 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal__container {
    width: 90vw;
  }

  .modal__container--btn {
    font-size: 2.7rem;

    left: 46.7%;
  }

  .modal__container--info {
    width: 70vw;
  }

  .content-input{
    width: 40vw;
  }

  textarea {
    width: 40vw;
  }

  .info__title {
    font-size: 32px;
  }
}
/* End Media Queries Screens 768px and 1023px */

/* Start Media Queries Screens 767px */
@media screen and (max-width: 767px) {
  .modal__container {
    width: 95vw;
  }

  .modal__container--btn {
    font-size: 2.5rem;

    left: 43.9%;
  }

  .modal__container--info {
    width: 70vw;
  }

  .content-input{
    width: 55vw;
  }

  textarea {
    width: 55vw;
  }

  .info__title {
    font-size: 30px;
  }
}
/* End Media Queries Screens 767px */
