<div class="modal__container d-flex flex-column align-items-center justify-content-start" [ngClass]="modalSwitch">
  <button class="modal__container--btn" (click)="closeModal()">
    <fa-icon [icon]="faXmark"></fa-icon>
  </button>

  <section *ngIf="nameC == 'Tutorial'">
    <div class="modal__container--info">
      <h1 class="text-black">{{modalData.title}} {{modalTitle}}</h1>

      <ul>
        <li>{{activitiesT}}</li>
        <!-- <li>Enlace</li>
      <li>Imagenes</li> -->
      </ul>

    </div>
  </section>

  <section *ngIf="nameC == 'Crud'">
    <div class="modal__container--info">
      <h1 class="text-black">Crud de contenido</h1>

      <form [formGroup]="contentForm" (ngSubmit)="onSubmit()">
        <div class="d-flex flex-column align-items-center">
          <label for="titleA">Titulo:</label>
          <input class="content-input" type="text" placeholder="Titulo" formControlName="titleA" />
        </div>
        <div class="d-flex flex-column align-items-center"> <label for="typeC">Tipo de Contenido:</label>
          <input class="content-input" type="text" placeholder="Tipo de Contenido" formControlName="typeC" />
        </div>
        <div class="d-flex flex-column align-items-center">
          <label for="contentC">Contenido:</label>
          <input class="content-input" type="text" placeholder="Contenido" formControlName="contentC" />
        </div>
      </form>

    </div>
  </section>

</div>
