<div class="modal__container d-flex flex-column align-items-center justify-content-start" [ngClass]="modalSwitch">
  <button class="modal__container--btn" (click)="closeModal()">
    <fa-icon [icon]="faXmark"></fa-icon>
  </button>

  <section *ngIf="nameC == 'Tutorial'">
    <div class="modal__container--info">
      <h1 class="text-black">{{modalData.title}} {{modalTitle}}</h1>

      <ul>
        <li>{{activitiesT}}</li>
        <!-- <li>Enlace</li>
      <li>Imagenes</li> -->
      </ul>

    </div>
  </section>

  <section *ngIf="nameC == 'Crud'">
    <div class="modal__container--info">
      <h1 class="text-black">{{modalTitle}}</h1>

      <form [formGroup]="contentForm" (ngSubmit)="onSubmit()">
        <div class="d-flex flex-column align-items-center">
          <label for="asignatura">Id:</label>
          <input class="content-input" type="text" placeholder="Titulo" formControlName="asignatura" />
        </div>
        <div class="d-flex flex-column align-items-center">
          <label for="titulo">Titulo:</label>
          <input class="content-input" type="text" placeholder="Titulo" formControlName="titulo" />
        </div>
        <div class="d-flex flex-column align-items-center"> <label for="tipo_contenido">Tipo de Contenido:</label>
          <input class="content-input" type="text" placeholder="Tipo de Contenido" formControlName="tipo_contenido" />
        </div>
        <div class="d-flex flex-column align-items-center">
          <label for="contenido">Contenido:</label>
          <input class="content-input" type="text" placeholder="Contenido" formControlName="contenido" />
        </div>
        <div class="d-flex flex-column align-items-center" *ngIf="typeCrud == 'Insertar'">
          <button class="crud-btn fw-bold text-white" type="submit"
            [disabled]="!contentForm.valid">
            Insertar
          </button>
          <span class="message">{{messageData}}</span>
        </div>

        <div class="d-flex flex-column align-items-center" *ngIf="typeCrud == 'Actualizar'">
          <button class="crud-btn fw-bold text-white" type="submit"
            [disabled]="!contentForm.valid">
            Actualizar
          </button>
          <span class="message">{{messageData}}</span>
        </div>

      </form>

    </div>
  </section>

</div>
