<div class="profile-container d-flex flex-column align-items-center justify-content-between">
  <h3 class="text-center fw-bold">Perfil</h3>
  <div class="profile-data d-flex flex-row align-items-center">
    <img class="profile-img" src="./assets/Profile-2.png" alt="">
    <div class="d-flex flex-column" *ngFor="let data of dataUser">
      <span>{{data.nombre}} {{data.apellido}}</span>
      <span>{{data.email}}</span>
      <span>{{roleUser}}</span>
      <span>{{dataCourse[0]}} {{dataCourse[1]}} {{dataCourse[2]}}</span>
      <!-- <span>Grado</span> -->
    </div>
  </div>
</div>
