/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* You can add global styles to this file, and also import other style files */
:root {
  --shadow-card: 0 4px 8px 0 rgba(0, 0, 0, 0.35),
  0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Source Sans Pro", sans-serif, Verdana;
}



.card-btn{
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  margin: 0px 5px;
  font-size: 14px;
  transition: 0.5s;
  font-size: 16px;
}

.btn-content {
  background-color: #125C13;
}

.btn-eye {
  background-color: #088395;
}

.btn-edit {
  background-color: #c66313;
}

.btn-delete {
  background-color: #B31312;
}

.btn-content:hover{
  background-color: #1b941d;
}

.btn-eye:hover{
  background-color: #09a6be;
}

.btn-edit:hover{
  background-color: #ed7614;
}

.btn-delete:hover{
  background-color: #d31616;
}

