/* Start Media Queries Screens 1024px */
.info-title {
  position: relative;
  font-size: 34px;

  margin-bottom: 12px;

  text-align: center;

  color: black;
}

.item-activity {
  box-shadow: var(--shadow-card);
  border-radius: 8px;
  margin: 12px 0px;
  background-color: #2f74d0;
  width: 45vw;
  border: 2px solid #0c0077;
  overflow-x: hidden;
}

.item-activity span {
  width: inherit;
}

.item-activity a{
  cursor: pointer;
  text-decoration: none;
  color: #F86F03;
  text-align: justify;
  font-weight: bold;
  margin: 0px 10px;
  font-size: 16px;
}

.item-reading{
  font-size: 16px;
  text-align: justify;
  color: white;
  margin: 0px 10px;
}

/* End Media Queries Screens 1024px */

/* Start Media Queries Screens 731px and 1023px */
@media screen and (min-width: 731px) and (max-width: 1023px) {
  .info-title {
    font-size: 32px;
  }

  .item-activity {
    width: 55vw;
  }

  .item-activity a{
    font-size: 15px;
  }

  .item-reading{
    font-size: 15px;
  }
}
/* End Media Queries Screens 731px and 1023px */

/* Start Media Queries Screens 730px */
@media screen and (max-width: 730px) {
  .info-title {
    font-size: 30px;
  }

  .item-activity {
    width: 70vw;
  }

  .item-activity a{
    font-size: 14px;
  }

  .item-reading{
    font-size: 14px;
  }
}
/* End Media Queries Screens 730px */
